*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;

}
body{
    margin: 0rem;
    padding: 2px;
    background: linear-gradient(100deg, #185eb4, #0fa09d, #690e62);
}
#navbar{
    height: 100%;
    width: 100%;
    color: rgb(5, 6, 68);}
    
#list{
    height: 100%;
    width: 100%;
    margin: 0rem;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#list li{
    
    align-items: center;
    list-style-type: none;
    transition: 12ms; }

#list li:hover{
    color: rgb(112, 45, 170);
    align-items: center;
    list-style-type: none;
    
}
#navbar.search{
   position: relative;

}
